* {
    margin: 0;
}

.col-md-2 img {
    width: 100%;
}

.col-md-4 input[type="text"] {
    width:90%;
    margin-top:50px;
}

header {
    height: 120px;
    background: #90C748;
    padding-top: 15px;
    z-index:999;
}

nav {
    height: 32px;
    z-index:1;
    background: #2B2B2B;
}

nav .col-md-2 {
    text-align: center;
}

nav div a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display:block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav div a:hover{
    background: #EC3237;
    color: #fff;
    text-decoration: none;
}

main {
    min-height: 500px!important;
    padding-top:15px;
    padding-bottom:15px;
}

.categoria h1 {
    font-size: 32px;
}

.produto {
    border: solid 1px #fff;
    transition: background-color 1s ease;
}

.produto:hover {
    background: #f9f9f9;
    border: solid 1px #f0f0f0;
}

.produto h2 {
    font-size: 16px;
    height: 35px;
    overflow: hidden;
    color: #2B2B2B;
}

.produto a {
    text-decoration: none;
}
.produto p {
    color: #EC3237;
    font-weight:bold;
    font-size: 18px;
    text-align: center;
    margin-top:10px;
}

footer{
    height: 70px;
    background: #2B2B2B;
}

footer p {
    text-align: center;
    color: #FFF;
}
.table td a {
    color: #000 !important;
}
.mensagem-sucesso{
    color: #3c763d;
    background-color: #DFF0D8;
    padding: 15px 18px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    margin: 7px 0px 17px;
}
.comands .col-md-1 {
    margin-left: 0px;
    margin-right: -5px;
    margin-bottom: 12px;
    float: right;
    margin-top: 20px;
}
.ui-popup-screen.in {
  opacity: 0.7 !important;
  background-color: #7C7C7C !important;
}
input[type="radio"], input[type="checkbox"] {
    margin: 6px -7px 0px 7px !important;
}
.ui-checkbox input, .ui-radio input {
    position: relative !important; 
    left: 0 !important;; 
    top: 0 !important;; 
    width: auto !important;; 
    height: auto !important;; 
    margin: 0; 
    outline: 0!important; 
    z-index: 1; 
}
.ui-checkbox, .ui-radio {
    margin: 0 !important;
    position: relative;
    float: left;
}
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
    color: #FFF !important;
}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: #FFF !important;
    font-weight: normal !important;
}
#slideHome{
    background:#fff;
    width:100%;
    height:240px;
    position: relative;
    overflow: hidden;          
}

#slideImg img{
    width:100%;
    height:240px; 
    overflow: hidden;
}

#slideHomeButton a{
    background: #333;
    width: 30px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font:bold 12pt arial;
    color:#fff;
    opacity: 0.7;
}

#slideHomeButton a:hover{
    background:#555;
}


